.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  position: relative;
  /* Add this to make sure child elements can be positioned inside */
}

.home_container {
  position: relative;
  margin: 15em 0 0 0;
  z-index: 2;
}

.particle_wrapper {
  height: 10vh;
}

.divider {
  width: 100%;
  height: 2vh;
  background: #201314;
}

.first_text {
  font-size: 2.5rem;
}

.second_text {
  margin: 0.5em 0 0 0;
  color: pink;
  font-size: 1.6rem;
}

.section_title {
  text-decoration: underline;
}

.about {
  padding: 2em 0 0 0;
  height: 100vh;
  font-size: 1.5rem;
}

.about_container {
  display: flex;
  margin: 6em 5em 0 5em;
  padding: 2em 0;
  color: white;
  justify-content: space-evenly;
}

.about_text {
  width: 32em;

}

.computer_container {
  margin: 1em 0 0 0;
}

.computer_icon {
  width: 16em;
  height: 16em;

}
